*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    background-color:  hsl(257, 40%, 49%);
    width: 100%;
    height: 100%;
    
    
}


.container{
  
/*determina el tamaño de tu pagina*/
    width: 100%;
   max-width: 1000px;
   margin: auto;
   
}

.container .logo img{
    width: 250px;
}

.flex .container{
    display: flex;
    margin-top: 50px;
}

/* Añadi */
.flex .container .mockup{
    width: 100%;
    max-width: 600px;
}
.flex .container .mockup img{
    /* width: 600px; */
   width: 100%;
}

.flex .container .text{
    margin-top: 50px;
    margin-left: 50px;
}

.flex .container .text h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    width: 400px;
    
}

.flex .container .text p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 15px;
    font-size: 15px;
    width: 400px;
}

.flex .container .btn{
    position: absolute;
    top: 370px;
    right: 390px;
}

.flex .container .btn button{
    background-color: white;
    color: hsl(257, 40%, 49%);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 50px;
    
    
   width: 100%;
    
}

footer .redes{
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}

footer .redes a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    margin: auto;
    border: 1px solid white;
    border-radius: 50%;
     
    
    
}

footer .redes a i{
    margin: 0;
    padding: 0;
    
    
}


.flex .container .btn button:hover{
    background-color: hsl(257, 67%, 32%);
    color: white;
    cursor: pointer;
}

footer .redes a:hover{
    background-color: hsl(257, 67%, 32%);
    border: none;

}



@media only screen and (max-width: 450px) {
    body{
        margin: 0;
    }
    
    header .container .logo img{
        margin-top: 20px;
        margin-left: 115px;
        width: 200px;
    }

    .flex .container{
        display: flex;
        flex-direction: column;
    }
    .flex .container .mockup {
 
        width: 100%;
        display: flex;
        justify-content: center;
     
        margin-bottom: 50px;
    }

    
    .flex .container .mockup img{
        width: 300px;
        margin-left: 0;
    }


    .flex .container .text h1{
        font-size: 20px;
        text-align: center;
        width: 300px;
        margin-left: 20px;
    }

    .flex .container .text p{
        text-align: center;
        width: 300px;
        margin-left: 20px;
    }

    .flex .container .btn{
       position: absolute;
       left: 145px;
       top: 630px;
        
     
    }

    footer{
        display: flex;
        justify-content: center;
        margin-top: 100px;
      
        
    }
}


@media only screen and (max-width: 375px) {
    
    body{
       
        margin: 0;
    }
    header .container .logo img{
           
        width: 100%;
        max-width: 180px;
        margin: 0 auto;
       margin-left: 90px;
        
    }
    .flex .container{
        display: flex;
        flex-direction: column; 
    }


    
    
    .flex .container .mockup {
 
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .flex .container .mockup img{
        width: 100%;
        max-width: 300px
    }

    
    .flex .container .text{
     
        margin-left: 0px;
        margin:  auto;
    }

    .flex .container .text h1{
        font-size: 20px;
        text-align: center;
        width: 300px;
        
    }

    .flex .container .text p{
        text-align: center;
        width: 300px;
    }

    .flex .container .btn{
      
        margin-left: -50px;
        margin-top: -25px;
     
    }

    footer{
        
        display: flex;
        justify-content: center;
        margin-top: 100px;
        width: 100%;
        margin-left:10px;
    }

    footer .redes{
        width: 100%;
       

} 


    .flex .container .btn{
        position: absolute;
        left: 170px;
        top: 600px;
         
      
     }
}


